<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.futrue.schedule.dao.quartz.JobAndTriggersDao" >

  <select id="getJobAndTriggerDetails" resultType="com.futrue.schedule.entity.JobAndTrigger">
    SELECT
    qrtz_job_details.JOB_NAME,
    qrtz_job_details.JOB_GROUP,
    qrtz_job_details.JOB_CLASS_NAME,
    qrtz_triggers.TRIGGER_NAME,
    qrtz_triggers.TRIGGER_GROUP,
    qrtz_cron_triggers.CRON_EXPRESSION,
    qrtz_cron_triggers.TIME_ZONE_ID
    FROM
    qrtz_job_details
    JOIN qrtz_triggers
    JOIN qrtz_cron_triggers ON qrtz_job_details.JOB_NAME = qrtz_triggers.JOB_NAME
    AND qrtz_triggers.TRIGGER_NAME = qrtz_cron_triggers.TRIGGER_NAME
    AND qrtz_triggers.TRIGGER_GROUP = qrtz_cron_triggers.TRIGGER_GROUP
  </select>

  <select id="getJobAndTriggerDetailsAndSimple" resultType="com.futrue.schedule.entity.JobAndTrigger">
    SELECT
      A.JOB_NAME,
      A.JOB_GROUP,
      A.JOB_CLASS_NAME,
      B.TRIGGER_NAME,
      B.TRIGGER_GROUP,
      D.CRON_EXPRESSION,
      D.TIME_ZONE_ID,
      C.REPEAT_COUNT,
      C.REPEAT_INTERVAL
    FROM
    QRTZ_JOB_DETAILS A INNER JOIN
    QRTZ_TRIGGERS B ON A.JOB_NAME = B.JOB_NAME
    LEFT JOIN QRTZ_SIMPLE_TRIGGERS C ON B.TRIGGER_NAME = C.TRIGGER_NAME
    LEFT JOIN QRTZ_CRON_TRIGGERS D ON B.TRIGGER_NAME = D.TRIGGER_NAME
  </select>


</mapper>